.header-section{
    position: relative;
    background-color: rgb(37, 150, 198);
    width: 100%;
    height: 8em;
}
.header-content{
    position: absolute;
    font-size: 390%;
    font-weight: 550;
    color: white;
    margin-left: 1.25rem;
    margin-top: 1.437rem;
    font-family: 'Poppins', sans-serif; 
}
body{
    margin: 0px;
    padding: 0px;
}
.nav-bar{
    height: 2.4em;
    background-color: rgb(35, 45, 49);
    position: relative;
}
.nav-links{
    position: absolute;
    font-size: 17px;
    font-weight: 80%;
    margin-top: 9px;
    word-spacing: 20px;
}
a:link, a:visited {
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    word-spacing: 5rem;
    text-align: center;
    text-decoration: none;
    margin-left: 1.25rem;
  }
a:hover, a:active {
    color: gray;
  }
.blog-img{
    position: absolute;
    top: 7px;
    margin-right: 1.25rem;
    float: right;
}
.border{
    font-size: 16px;
    margin-top: 1.5625rem;
    margin-left: 3.125rem;
    width: 54%;
}
#newsHeading{
    position: absolute;
    margin-left: 9px;
    margin-top:3px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 23px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif; 
}
.list-content{
    position: relative;
    list-style-type:'-   ';
    float: left;
    font-family: 'Roboto', sans-serif;
    line-height: 2.5em;
    margin-left:0px;
    margin-top: 1.875rem;
    font-size: 17px;
    font-weight:600;
    color: rgb(50, 60, 63);
}
#welcomeHeading{
    margin-left:3.125rem;
    margin-top: 2.5rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
}
.content{
    margin-left:3.125rem;
    width: 80%;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: rgb(50, 60, 63);
}